<!DOCTYPE html>
<html lang="en">
    <head>
        {{>headerlinks}}
    </head>

<body>
    {{>nav}}
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side row -->
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure class="error_img">
                            <img src="images/error.jpg" alt="anup" class="img-fluid" title="anupp">
                        </figure>
                        <div class="para">
                        <br/>
                        <p>Welcome to Hello World</p>
                        <h1>{{errorMsg}}</h1>
                        <a href="/"><button>Go back</button></a>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>
</html>