<!DOCTYPE html>
<html lang="en">
<head>
{{>headerlinks}}
</head>
<body>
    {{>nav}}
<!-- main-header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side row -->
                    <div class="col-md-6 col-12 main_header_right">
                        <img src="images/development.jpg" alt="anup" class="img-fluid Developer" title="anupp">
                     </div>
                     <!-- right side row -->
                     <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to my About Page</p>
                        <h1> Hello there..I am a <span class="textcol">MERN Stack Developer</span></h1>
                        <a href="weather"><button>About Me</button></a>
                     </div>
                </div>
            </div>
        </div>
    </div>
    {{>footer}}

</body>
</html>